
/**
 * Basic styling
 */
body {
  background-color: #000;
  font: 14px/1.5 'Noto Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
}